.pfs-bg-dark
{
    background: #0B2640;
    border: 0px;
}

.pfs-body
{
    background: url("/img/pfs-bg.jpg") repeat;
    background-position: center;
    font-family: 'Bree Serif', serif !important;
}
.pfs-box-shadow
{
    box-shadow: 0 0 30px #FFFFFF;
}

.pfs-banner
{
    position: relative;
    height: 360px;
    margin-bottom: 0px;
    background-image: url('/img/pfs-banner.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 0;
    color: #f8f9fa;
    text-shadow: black 0.3em 0.3em 0.3em;
}
.pfs-banner-title
{
    color: #F0FF0C;
    font-family: 'Great Vibes', cursive;
    font-size: 50pt;
}
.pfs-banner-caption
{
    color: #f8f9fa;
    font-family: 'Cookie', cursive;
    font-size: 30pt;
}

.pfs-content
{
    background: #70a4ff;
    background: -webkit-linear-gradient(#3684d2, #70a4ff);
    background: -o-linear-gradient(#3684d2, #70a4ff);
    background: -moz-linear-gradient(#3684d2, #70a4ff);
    background: linear-gradient(#3684d2, #70a4ff);
    padding-top: 1.5rem;
    padding-right: 15px;
    padding-bottom: 1.5rem;
    padding-left: 15px;
}

.pfs-title
{
    font-weight: bolder;
    text-shadow: 0 0 2px #fff;
}
.pfs-paragraph
{
    font-size: 12pt;
    text-indent: 50px;
    text-shadow: 0 0 15px #fff;
}

.pfs-footer
{
    background: #3379BF;
    color: #f8f9fa;
    padding: 10px 20px 10px 30px;
}
.pfs-footer a
{
    color: #f8f9fa;
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: underline;
}


a:hover
{
    color: #0B2640;
}

/* 
                            .adsbygoogle { width: 320px; height: 100px; }
@media(min-width: 768px)  { .adsbygoogle { width: 468px; height:  60px; } }
@media(min-width: 992px)  { .adsbygoogle { width: 728px; height:  90px; } }
@media(min-width: 1200px) { .adsbygoogle { width: 970px; height:  90px; } } */
